// Although not used repetitively, having these variables makes it easier to
// quickly experiment with different colours.
$bodybgcolor: black;
$bodytextcolor: white;
$linecolor: white;

$navhoverbgcolor:rgb(250, 50, 150); //rgb(15, 80, 110)
$navtextcolor:white;
$navhovertextcolor: white;

$fontfamily: Helvetica, Arial, sans-serif;
$fontsize: medium;
$fontsizelists: smaller;

$anchorcolor: lime;

body {
  background-color: $bodybgcolor;
  color: $bodytextcolor;
  font-family: $fontfamily;
  font-size:  $fontsize;

  a {
    color: $anchorcolor;
    &:hover{
      color: $anchorcolor;
    }
  }
}

nav{
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    border-top: solid $linecolor;
    border-bottom: solid $linecolor;
    border-width: thin;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    font-size: 0.9em;

    a{
      color: $navtextcolor;
      &:hover{
        color: $navhovertextcolor;
      }
    }

    li{
      margin-left: 0.6em;
      margin-right: 0.6em;
    }

    li:hover{
      border-width: thin;
      background-color: $navhoverbgcolor;
      border-radius: 20px;
    }
  }



.main-content-container{
  margin-top: 1em;
}

.main-text{
  margin-top: 1em;
}

.contact-data{
  width: 90%;
}

.project{
  margin-top: 1.5em;

  h4{
    font-weight: bold;
  }
}

.tech {
  font-family: $fontfamily;
  font-size: $fontsizelists;

}


#main-title{
  a{
    color: $bodytextcolor;
    &:hover{
      color:$bodytextcolor;
      text-decoration: none;
    }
    &:visited{
      color:$bodytextcolor;
    }
  }
}

#tag-line{
  font-family: math;
}

#sub-heading{
  font-size: 1em;
}

#stack-list{
  margin-top: 1em;

  h5 {
    font-weight: 200;
    font-family: $fontfamily;
    font-size: 1.2em;
    margin-top: 1em;
  }

  ul{
    li{
      font-family: $fontfamily;
      font-size: $fontsizelists;
    }
  }
}



@media (max-width: 576px) {
  .small-screen{
    display: None;
  }
}

@media (max-width: 768px) {
  // Centers Yoda image in BS 'md' column area when viewport < 768px (md == 768px). 
  #yoda{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
